# macOS specific files
.DS_Store
# data, because it is large
data/*
# local tracking 
mlruns/*
# server based tracking
mlflow_server/*
# python cache
__pycache__/

# snakemake
.snakemake/
*/03-orchestration/results/*

# mlflow
mlruns/*

# some file that was written in one of the homework scripts
run_id.txt